:host body{
    background-color: #000000;
}
body {
    background: url('../OPES-Splash-Page-1200x675.jpg') center center fixed !important;
    background-size: cover !important;
    background-blend-mode: multiply !important;
    background-color: #00000052 !important;
   
}

p {
    margin: 0 0 10px;
}

h2, .section-heading h2 {
    font-size: 1.424em;
}
a {
    -webkit-transition: .3s all;
    transition: .3s all;
    color: #5068A9;
}

.card-bg-none{
    background:rgb(249, 250, 251) none repeat scroll 0% 0%
}

.showcursor{
    cursor: pointer;
}

.border-btn{
    border: 1px solid #ffffff !important;
    margin-bottom: 10px !important;
    border-radius: 5px !important;
    padding:5px !important;
    color: #ffffff;
}
.border-btn-error{
    margin-bottom: 10px !important;
    border-radius: 5px !important;
    padding:5px !important;
    border: 1px solid #7c0202 !important;
    color: #7c0202 !important;
}

.headerPool{
    background-color: #17a2b8; padding:10px; color: white;
}

.balLink a{
    color:#ffffff;
}

.balLink2 a{
    color:#17a2b8;
}
.btn-outline-info:hover a{
    color:#ffffff;
}

.Container{
   
    min-height: 1000px;
}
.dheader{
    font-size : '50px' !important;
    height:'100px' !important;
 }

 .title-bg{
     color:#c00e0e !important;
     font-weight: bold !important;
 }

 .nav-link-bottom {
    padding: .05rem 1rem !important;
    font-size: 10px !important;
    background-color: transparent !important;
    border-color: #dee2e629 !important;
 }

 .dsubheader{
    font-size: '10px' !important;
    color :'#FFFFF';
    height:'100px' !important;
 }




@media only screen and (max-width:800){
    .dheader{
        font-size:'60px' !important;
        height:'30px' !important;
     }
     .dsubheader{
        font-size:'38px' !important;
        color :'#FFFFF';
        height:'100px' !important;
     }
    
}


/* .bglower{
    background-color: #4a5e72;
   
} */

.MuiDialogContent-root{
    background-color: #4a5e72 !important;
    border:1px solid #186ce9;
    -moz-box-shadow: 1px 2px 3px rgba(4, 115, 158, 0.5);
	-webkit-box-shadow: 1px 2px 3px rgba(4, 115, 158,.5);
	box-shadow: 1px 2px 3px rgba(4, 115, 158,.5);
}
.MuiSnackbarContent-root{
    background-color: #4a5e72 !important;
}

.button-unlock{
    background-color: #4a5e72 !important;
    border:1px solid #186ce9;
    padding: '16px';
    border-radius: '1rem';
    justify-content: 'space-between' ;
    min-width: '250px';
    display: 'flex';
}

.card{
    color:#ffffff;
    -moz-box-shadow: 1px 2px 3px rgba(4, 115, 158, 0.5);
	-webkit-box-shadow: 1px 2px 3px rgba(4, 115, 158,.5);
    box-shadow: 1px 2px 3px rgba(4, 115, 158,.5);
    border:0px !important;
   
    border-radius:10px !important;
}

.card-body{
    background: #4a5e72;  
  /*   border:1px solid #186ce9; */
  border-radius:10px !important;
 
}
@media (min-width:801px){
    .card-body:hover{
        -moz-box-shadow: 4px 8px 8px 10px rgba(4, 115, 158, 0.5);
        -webkit-box-shadow: 4px 8px 8px 10px rgba(4, 115, 158,.5);
        box-shadow: 4px 8px 8px 10px rgba(4, 115, 158,.5);
        
        -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            z-index: 3;
            border-radius: 10px;
            color:#ffffff;
    }
}

.headerTitle{
    color:#ffffff !important;
    font-weight: bolder !important;
    font-size:25px !important;
}
.round-wallet{
    border-radius: 10px;
    border:1px solid #ffffff;
    padding:6px;
   /*  background-color:#244370 ; */
    color:#ffffff !important;
   
  
}
.round-wallet:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -moz-box-shadow: 4px 8px 8px 10px rgba(4, 115, 158, 0.5);
	-webkit-box-shadow: 4px 8px 8px 10px rgba(4, 115, 158,.5);
    box-shadow: 4px 8px 8px 10px rgba(4, 115, 158,.5);
    cursor: pointer;
}
.navbarStyle {
    border:1px solid #ffffff !important;
}

.nav-tabs {
    border: none !important;
}

.tableRowStyle{
    border-bottom:1px solid #9b9b9b !important;
}
.rowTitle{
    text-align: left !important;
}
.mob{
    display:none;
}
.des{
    display:block;
}
@media only screen and (max-width: 600px) {
    .tableRowStyle {
        text-align:center !important;
    }
    .rowTitle{
        background-color:rgb(76, 113, 158,0.5);
        text-align: center !important;
    }
    .mob{
        display:block;
    }
    .des{
        display:none;
    }
}


.btn, input,h3,h4,p {
    color: #ffffff !important;
}

.btn:hover {
    font-weight: bold;
    -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.list-group,.list-group-item{
    background-color: #4a5e72 !important;
    border-color: #ffffff !important;
    font-size: 12px !important; 
}

.table thead tr th, .table tbody tr td {
   border-top: 0px;
    border-color: #ffffff !important;
    color:#ffffff !important;
    text-align: center;
    
}
.table tbody tr td {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* h4{
    border-bottom: 1px solid #ffffff !important;
} */

.myButton-disable {
	background-color:#727272;
	border-radius:10px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
    width:100%;
    text-align: center;
}


.smallBTN-disable {
    background-color:#727272;
	border-radius:10px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:5px 10px;
	text-decoration:none;
    text-align: center;
}
.smallBTN-disable:hover{
    text-decoration: none;
    color:#ffffff;
}

.myButton {
	/* box-shadow: 0px 0px 0px 2px #9fb4f2; */
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	/* border:1px solid #4e6096; */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    width:100%;
    text-align: center;
}
.myButton:hover {
	background:linear-gradient(to bottom, #048359 5%, #0dc789 100%);
    /* background-color:#476e9e; */
    background-color: #048359 !important;
    text-decoration:none;
    
}


.myButtonSmall {
	/* box-shadow: 0px 0px 0px 2px #9fb4f2; */
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	/* border:1px solid #4e6096; */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:5px 10px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    width:100%;
    text-align: center;
}
.myButtonSmall:hover {
	background:linear-gradient(to bottom, #048359 5%, #0dc789 100%);
    /* background-color:#476e9e; */
    background-color: #048359 !important;
    text-decoration:none;
    color:#ffffff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    
}

.myButtonSmall-small{
    padding:2px !important;
    width:150px !important;
}

.myButton:active {
	position:relative;
	top:1px;
}


.smallBTN {
  /*   box-shadow: 0px 0px 0px 2px #9fb4f2; */
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px !important;
/* 	border:1px solid #4e6096; */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:5px 10px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
 }
 
 .smallBTN:hover {
    background:linear-gradient(to bottom, #048359 5%, #0dc789 100%);
    /* background-color:#476e9e; */
    background-color: #048359 !important;
    text-decoration:none;
    color:#ffffff;
    border-radius:10px;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
 }
 .newtable tbody tr td{
     font-size:15px;
     color:#ffffff !important;
 }
.newtable thead tr th{
    font-size:20px;
    color:#ffffff !important;
}
.newtable tbody tr td img:hover{
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

 .newtable tbody tr:hover,
 .tableRowStyle:hover{
  /*   -moz-box-shadow: 4px 8px 8px 10px rgba(4, 115, 158, 0.5);
	-webkit-box-shadow: 4px 8px 8px 10px rgba(4, 115, 158,.5);
    box-shadow: 4px 8px 8px 10px rgba(4, 115, 158,.5);
     */
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        background-color:rgb(76, 113, 158,0.5);
    
 }

 .textheader{
     color:#ffffff;
     font-weight: bold;
 }

.connectBtn{
    border:1px solid #FFFFFF;
}
.btn:hover{
    background-color: rgb(4, 131, 89) !important;
}

.poolended{
    text-align: center;
    color:#FFFFFF;
    padding:30px;
    background-color:rgb(76, 113, 158,0.5);
    vertical-align: middle;
}


.card-new-header{
    color: #FFFFFF !important;
    background-color: rgb(76, 113, 158) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card-new-body,
.card-new-body:hover{
    background: #4a5e72 !important; 
    color:#FFFFFF;
}

.btn-new{
    background-color: rgb(76, 113, 158) ;
    border:0px;
    color:#FFFFFF;
    font-weight: bolder;
    font-size: 20px;
}